a {
  @include unstyled-link;
  cursor: pointer;
}

html {-webkit-font-smoothing: antialiased}

body {
  @extend %font-book;
  @extend %background-repeat-y;
  background-image: url('/images/bg.jpg');
  background-color: black;
}

nav#mobile {
  height: 0;
  overflow: hidden;
  @include at-breakpoint(12) {
    display: none;
  }

  ul#mobile-links {
    padding: 10px 0;
    margin: -40px 0 0 0;
    font-size: 22px;
    list-style: none;
    .mobile-link {
      padding: 4px 0;
      margin: 0;
      @extend %font-book;
      a:hover {
        @include text-shadow(rgba(204, 51, 51, 1) -3px -1px 6px);
      }
    }
  }

  &:before {
    @include filter-gradient(#a60000, #000000, vertical); // IE6-9
    @include background-image(linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%));
    display: block;
    height: 40px;
    content: "";
  }

  &:after {
    @include filter-gradient(#000000, #a60000, vertical); // IE6-9
    @include background-image(linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%));
    display: block;
    height: 40px;
    content: "";
    margin-top: -30px;
  }
}

header#header {
  @extend %background-no-repeat;
  background-image: url('/images/topbg.jpg');
  height: 150px;
  @include at-breakpoint(12) {
    height: 277px;
  }

  #header-countdown {
    @include container;
    @extend %font-book;
    font-size: 18px;
    text-align: right;
    padding-top: 37px;
    display: none;
    @include at-breakpoint(12) {
      display: block;
    }

    .kkcountdown {
      @extend %font-medium;
      .kkcountdown-box { margin-left: 10px; }
      .kkc-days-text, .kkc-hours-text, .kkc-min-text, .kkc-sec-text {
        margin-right: 6px;
      }
    }
  }


  nav#header-main-nav {
    @include container;
    text-transform: uppercase;

    ul#nav-links {
      @include horizontal-list;

      li {
        padding: 0;
        display: none;
        @include at-breakpoint(12) {
          @include span-columns(2,12);
          @include nth-omega(6);
          display: block;
        }

        a {
          @include inline-block;
          @extend %font-book;
          font-size: 22px;
          margin-top: 77px;
          margin-right: -4px;

          span.icon {
            @include icon(starsmenu);
            margin: 0 auto -3px auto;
            display: block;
          }
        }

        a:hover {
          @include text-shadow(rgba(204, 51, 51, 1) -3px -1px 6px);

          span.icon {
            @include icons-sprite(bloodystars);
          }
        }

        &#menu {
          @include span-columns(2,12);
          @include at-breakpoint(12) {
            display: none;
          }
          a {
            width: 100%;
            margin-top: 0;
            &:hover {
              @include text-shadow(rgba(204, 51, 51, 0) 0 0 0)
            }
            span.icon {
              @extend %background-no-repeat;
              background-image: url('/images/mobile.png');
              width: 100%;
              background-size: 50px;
            }
          }

        }

        &#logo {
          @include span-columns(10 omega,12);
          position: relative;
          z-index: 1;
          @include at-breakpoint(12) {
            @include span-columns(4,12);
          }

          a {
            color: transparent;
            margin-top: 1px;
            overflow: hidden;
            display: block;
            height: 200px;
            @include at-breakpoint(12) {
              height: 277px;
            }
            &:hover {
              @include text-shadow(rgba(204, 51, 51, 0) 0 0 0)
            }
          }

          span.icon {
            @extend %background-center;
            background-image: url('/images/logoinx.png');
            background-size: contain;
            display: block;
            height: 100%;
            width: 100%;
            @include at-breakpoint(12) {
              height: 277px;
              width: 305px;
            }
         }
        }
      }
    }
  }
}


footer#footer {
  margin-top: 56px;
  #footer-content {
    @include container;
    margin-bottom: 44px;
    #footer-separator-top {
      @include span-columns(8,12);
      @include prefix(2);
      margin-bottom: 26px;
      span.line {
        @include span-columns(3,8);
        @include nth-omega(3);
        border-top: 1px solid white;
        margin-top: 12px;
      }
      span.stars {
        @include span-columns(2,8);
        @include inline-block;
        height: 42px;
        text-align: center;
        span.icon-stars {
          @include icon(starsmenu);
          margin-top: -20px;
        }
      }
    }
    
    #main-sponsor {
      @include span-columns(12, 12);
      margin-bottom: 30px;
      a {
        @include inline-block;
        span.icon {
          @include icon(spegc-white);
          &:hover{
            @include icon(spegc-red);
          }
        }
      }
    }

    ul#footer-sponsors {
      @include span-columns(12,12);
      li { 
        @include inline-block;
        min-width: columns(2,12);
        margin-bottom: 10px;
        padding: 1px 10px 10px 10px; 
      }
      @each $sponsor in $sponsors {
        $name: $sponsor;
        ##{$sponsor} {

          span.icon {
            @include icon(#{$name}-white);
            &:hover{
              @include icon(#{$name}-red);
            }
          }
        }
      }
    }

    #footer-separator-bottom {
      span.line {
        @include span-columns(12,12);
        border-top: 1px solid white;
      }
    }

    ul#footer-links {
      @include horizontal-list;
      @include inline-block;
      li.footer-link{
        border-right: 1px solid white;
        text-transform: uppercase;
        margin-top: 27px;

        a{
          @include inline-block;
          @extend %font-regular;
          font-size: 16px;
          padding: 0 10px;
        }
        &:nth-child(6) {
          border-right: 0;
        }
      }
    }
  }

  #copyright {
    display: block;
    height: 100%;
    @extend %font-regular;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    margin-top: 2px;
    background-color: black;
    color: #CC3333;
  }
}
