a {
  @include unstyled-link;
  cursor: pointer;
}

html {-webkit-font-smoothing: antialiased}

body {
  @extend %font-book;
  @extend %background-repeat-y;
  background-image: url('/images/bg.jpg');
  background-color: black;
}

header#header {
  @extend %background-no-repeat;
  background-image: url('/images/topbg.jpg');
  height: 150px;
  @include at-breakpoint(12) {
    height: 277px;
  }

  #header-countdown {
    @include at-breakpoint(12) {
      @include container;
      text-align: right;
      padding-top: 37px;
      float: right;
      @extend %font-book;
      font-size: 18px;

      .kkcountdown {
        @extend %font-medium;
        .kkcountdown-box { margin-left: 10px; }
        .kkc-days-text, .kkc-hours-text, .kkc-min-text, .kkc-sec-text {
          margin-right: 6px;
        }
      }
    }
    display: none;
  }

  nav{
    @include container;
    text-transform: uppercase;

    ul#nav-links {
      @include horizontal-list;

      li {
        @include span-columns(2,12);
        @include nth-omega(5);
        padding: 0;
        display: none;
        margin-top: 24px;
        @include at-breakpoint(12) {
          display: block;
          margin-top: 0;
        }

        a {
          @include inline-block;
          @extend %font-book;
          font-size: 22px;
          margin-right: -4px;
          @include at-breakpoint(12) {
            margin-top: 77px;
          }

          span.icon {
            @include icon(starsmenu);
            margin: 0 auto -3px auto;
            display: block;
          }
        }

        a:hover {
          @include text-shadow(rgba(204, 51, 51, 1) -3px -1px 6px);

          span.icon {
            @include icons-sprite(bloodystars);
          }
        }

        &#menu {
          @include at-breakpoint(12) {
            display: none;
          }
          @include span-columns(3,12);
          a {
            width: 100%;
            &:hover {
              @include text-shadow(rgba(204, 51, 51, 0) 0 0 0)
            }
            span.icon {
              @extend %background-no-repeat;
              height: 64px;
              background-image: url('/images/mobile.png');
              width: 100%;
            }
          }

        }

        &#logo {
            @include span-columns(6,12);
            position: relative;
            z-index: 1;

          a {
            width: 100%;
            color: transparent;
            margin-top: 1px;
            overflow: hidden;
            height: 150px;
            @include at-breakpoint(12) {
              height: 277px;
            }
            &:hover {
              @include text-shadow(rgba(204, 51, 51, 0) 0 0 0)
            }
          }

          span.icon {
            @extend %background-center;
            background-image: url('/images/logoinx.png');
            width: 100%;
            background-size: 114%;
            @include inline-block;
            height: 150px;
            @include at-breakpoint(12) {
              height: 277px;
            }
          }
        }
      }
    }
  }
}

footer#footer {
  margin-top: 56px;
  
  #footer-content {
    @include container;
    margin-bottom: 44px;

    #footer-separator-top {
      margin-bottom: 26px;
      @include span-columns(12,12);
      @include at-breakpoint(12) {
        @include span-columns(8,12);
        @include prefix(2);
      }
  
      span.line {
        @include span-columns(3,12);
        @include nth-omega(3);
        border-top: 1px solid white;
        margin-top: 12px;
        @include at-breakpoint(12) {
          @include span-columns(3,8);
        }
      }

      span.stars {
        @include span-columns(6,12);
        @include inline-block;
        height: 42px;
        text-align: center;
        @include at-breakpoint(12) {
          @include span-columns(2,8);
        }

        span.icon-stars {
          @include icon(starsmenu);
          margin-top: -20px;
          @include at-breakpoint(12) {
            margin: 5px;
          }
        }
      }
    }

    ul#footer-sponsors {
      @include span-columns(12,12);
      li { 
        @include inline-block;
        min-width: columns(2,12);
        margin-bottom: 10px;
        padding: 1px 10px 10px 10px; 
      }
      @each $sponsor in $sponsors {
        $name: $sponsor;
        ##{$sponsor} {

          span.icon {
            @include icon(#{$name}-white);
            &:hover{
              @include icon(#{$name}-red);
            }
          }
        }
      }
    }

    #footer-separator-bottom {
      span.line {
        width: 50%;
        @include span-columns(12,12);
        border-top: 1px solid white;
      }
    }

    ul#footer-links {
      @include horizontal-list;
      @include inline-block;
      li.footer-link{
        border-right: 1px solid white;
        text-transform: uppercase;
        margin-top: 27px;

        a{
          @include inline-block;
          @extend %font-regular;
          font-size: 16px;
          padding: 0 10px;
        }
        &:nth-child(6) {
          border-right: 0;
        }
      }
    }
  }

  #copyright {
    display: block;
    height: 100%;
    @extend %font-regular;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    margin-top: 2px;
    background-color: black;
    color: #CC3333;
  }
}
