section#tickets {
  #tickets-header {
    @extend %background-no-repeat;
    @extend %background-shadow;
    background-image: url('/images/calendario.jpg');
    height: 200px;
    background-size: cover;
    h2#tickets-header-title {
      @extend %font-regular;
      font-size: 32px;
      text-transform: uppercase;
      padding-top: 70px;
      @include text-shadow(rgba(105, 105, 105, 0.2) 1px 1px 0, rgba(105, 105, 105, 0.2) 2px 2px 0, rgba(105, 105, 105, 0.2) 3px 3px 0);
      @include at-breakpoint(12) {
        line-height: 200px;
        padding-top: 0;
      }
    }
  }
  #tickets-content {
    @include container;
    ul#tickets {
      @include span-columns(12, 12); 
			margin-bottom: 30px;
      li.ticket {
				@include span-columns(12, 12); 
			  @include at-breakpoint(12) {
      	  @include span-columns(4, 12); 
          @include nth-omega(3);
				}
				h3 { 
          font-size: 28px;
				}
      }
    }
    #tkt-content {
      height: 718px;
      @include span-columns(12, 12); 
    }
  }
}
