section#tournament {

  .tournament-header {
    @extend %background-no-repeat;
    @extend %background-shadow;
    @extend %font-regular;
    height: 200px;
    background-size: 100%;
    background-size: cover;

    &:after {
      margin-top: 38px;
    }

    &.open {
      &:after {
        margin-top: -19px;
      }
    }

    h2.tournament-header-title {
      color: white;
      font-size: 32px;
      margin-top: 50px;
      @include text-shadow(rgba(105, 105, 105, 0.2) 1px 1px 0, rgba(105, 105, 105, 0.2) 2px 2px 0, rgba(105, 105, 105, 0.2) 3px 3px 0);
      @include at-breakpoint(12) {
        display: block;
      }
    }

    span {
      display: block;

      a.tournament-header-join-button {
        @include inline-block;
        height: 47px;
        line-height: 47px;
        font-size: 28px;
        text-transform: uppercase;
        color: #009145;
        background: white;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        @include text-shadow(none);
      }
    }
  }

  #sc2 {background-image: url('/images/starcraft2.jpg')}
  #csgo {background-image: url('/images/csgo.jpg')}
  #lol {background-image: url('/images/leagueoflegends.jpg')}
  #lol-teemo {background-image: url('/images/leagueoflegends.jpg')}
  #lol-lee {background-image: url('/images/leagueoflegends.jpg')}
  #lol-libre {background-image: url('/images/leagueoflegends.jpg')}
  #hs {background-image: url('/images/hs.jpg')}
  #diablo3 {background-image: url('/images/diablo3.jpg')}
  #wow {background-image: url('/images/wwow.jpg')}
  #tt2 {background-image: url('/images/wtekken.jpg')}
  #dc4 {background-image: url('/images/dance.jpg')}
  #usf4 {background-image: url('/images/wstreetfighter.jpg')}
  #titanfall {background-image: url('/images/titanfall.jpg')}
  #halo {background-image: url('/images/halo4.jpg')}
  #blazblue {background-image: url('/images/bb.png')}
  #fifa14 {background-image: url('/images/fifa14.jpg')}
  #dirt3 {background-image: url('/images/dirt3.png')}
  
  #tournament-content {
    @include container;
    text-align: left;
    padding-top: 20px;

    #tournament-info {
      display: block;
      margin-bottom: 20px;
      @extend %font-regular;
      text-align: left;
      @include at-breakpoint(12){
        @include span-columns(5,12);
      }

      h2#tournament-info-title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      #tournamet-info-description {
        font-size: 20px;
        margin-bottom: 10px;
      }
      a#tournament-info-link {
        @extend %font-medium;
        font-size: 20px;
      }
    }

    #tournament-details {
      display: block;
      @include at-breakpoint(12) {
      @include span-columns(7 omega,12);
      @extend %font-regular;
      margin-bottom: 10px;
      text-align: left;
    }

      h2#tournament-details-title {
        @extend %font-medium;
        font-size: 24px;
        margin-bottom: 10px;
        text-align: left;
      }

      span.label {
        @extend %font-medium;
      }

      #tournament-details-format {
        font-size: 20px;
        margin-bottom: 10px;
      }

      #tournament-details-maps {
        font-size: 20px;
        margin-bottom: 10px;
      }

      #tournament-details-awards {
        h3#tournament-details-awards-title {
          @extend %font-medium;
          font-size: 20px;
          text-align: left;
        }

        ul#tournament-details-awards-list {
          margin-bottom: 10px;

          li.tournament-details-award {
            font-size: 20px;
            margin-left: 40px;
          }
        }
      }
      #tournament-details-participants {
        font-size: 20px;
        margin-bottom: 10px;
      }
      #tournament-details-platform {
        font-size: 20px;
        margin-bottom: 10px;
      }
      #tournament-details-rules {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
