section#tournament {
  font-family: 'Raleway', sans-serif;

  .tournament-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 200px;

    h2.tournament-header-title {
      display: block;
      font-weight: 400;
      font-size: 32px;
      line-height: 200px;
      @include text-shadow(rgba(105, 105, 105, 0.2) 1px 1px 0, rgba(105, 105, 105, 0.2) 2px 2px 0, rgba(105, 105, 105, 0.2) 3px 3px 0);
      text-align: center;
    }
  }

  #sc2 {background-image: url('/images/starcraft2.jpg')}

  #csgo {background-image: url('/images/csgo.jpg')}

  #lol {background-image: url('/images/leagueoflegends.jpg')}

  #hs {background-image: url('/images/hearthstone.jpg')}
  
  #diablo3 {background-image: url('/images/diablo3.jpg')}
  
  #tournament-content {
    @include container;
    text-align: left;
    padding-top: 20px;

    #tournament-info {
      @include span-columns(5,12);
      font-weight: 400;

      h2#tournament-info-title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      #tournamet-info-description {
        font-size: 20px;
        margin-bottom: 10px;
      }
      a#tournament-info-link {
        font-weight: 500;
        font-size: 20px;
      }
    }

    #tournament-details {
      @include span-columns(7 omega,12);
      font-weight: 400;
      margin-bottom: 10px;

      h2#tournament-details-title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 10px;
      }

      span.label {
        font-weight: 500;
      }

      #tournament-details-format {
        font-size: 20px;
        margin-bottom: 10px;
      }

      #tournament-details-maps {
        font-size: 20px;
        margin-bottom: 10px;
      }

      #tournament-details-awards {
        h3#tournament-details-awards-title {
        font-weight: 500;
        font-size: 20px;
        }

        ul#tournament-details-awards-list {
          margin-bottom: 10px;

          li.tournament-details-award {
            font-size: 20px;
            margin-left: 40px;
          }
        }
      }
      #tournament-details-participants {
        font-size: 20px;
        margin-bottom: 10px;
      }
      #tournament-details-platform {
        font-size: 20px;
        margin-bottom: 10px;
      }
      #tournament-details-rules {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
