section#tournaments {
  #tournaments-header {
    @extend %background-no-repeat;
    @extend %background-shadow;
    background-image: url('/images/calendario.jpg');
    height: 200px;
    background-size: cover;

    #tournaments-header-title {
      @extend %font-regular;
      font-size: 32px;
      text-transform: uppercase;
      padding-top: 70px;
      @include text-shadow(rgba(105, 105, 105, 0.2) 1px 1px 0, rgba(105, 105, 105, 0.2) 2px 2px 0, rgba(105, 105, 105, 0.2) 3px 3px 0);
      @include at-breakpoint(12) {
        line-height: 200px;
        padding-top: 0;
      }
    }
  }
  ul#tournaments-list {
    @include container;
    margin-top: 20px;
    li.tournament {
      @include span-columns(6, 12);
      @include nth-omega(2n);
      background-color: white;
      margin-bottom: 8px;
      text-align: left;
      width: 100%;
      @include at-breakpoint(12) {
        @include span-columns(6, 12);
        @include nth-omega(2n);
        background-color: white;
        margin-bottom: 8px;
        text-align: left;
      }

      &:last-child { margin-bottom: 0; }

      a.tournament-link {
        @include span-columns(6, 6);
        height: 100%;
        width: 100%;

        span.tournament-name {
          @include inline-block;
          @extend %font-regular;
          color: black;
          font-size: 20px;
          max-width: 60%;
          margin-left: 10px;
          @include at-breakpoint(12) {
            margin-left: 20px;
          }
        }

        span.icon {
          @include inline-block;
          height: 110px;
          width: 110px;
        }
      }

      &#sc2 .icon { background-image: url('/images/sc2.png'); }
      &#lol .icon { background-image: url('/images/LOL.png'); }
      &#hs .icon { background-image: url('/images/hs.png'); }
      &#diablo3 .icon { background-image: url('/images/d3.png'); }
      &#csgo .icon { background-image: url('/images/csgo.png'); }
      &#wow .icon { background-image: url('/images/wow.jpg'); }
      &#tt2 .icon { background-image: url('/images/tt2.jpg'); }
      &#dc4 .icon { background-image: url('/images/dc3.jpg'); }
      &#USF4 .icon { background-image: url('/images/usf4.jpg'); }
    }
  }
}
