@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500);
@import "compass";
@import "compass/reset";
@import "susy";
@import "jquery.remodal";

@import "icons/*.png";
@include all-icons-sprites;

$total-columns: 12;
$column-width:  60px;
$gutter-width:  20px;
$grid-padding:  10px;
$container-width: 1140px;

@import "mixins";
@import "base";
@import "keyframes";
@import "sponsors";
@import "index";
@import "blog";
@import "calendar";
@import "terms-and-conditions";
@import "tournaments";
@import "tournament";
@import "tickets";
@import "screen";
