// animations
// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

// call animation
@mixin animation($animation, $time, $mode) {
  -webkit-animation: $animation $time $mode;
  -moz-animation: $animation $time $mode;
  -ms-animation: $animation $time $mode;
  animation: $animation $time $mode;
}
