%section#calendar
  #calendar-header
    %h2#calendar-header-title
      Calendario
  #calendar-content
    #calendar-content-date
      %h3 16 septiembre 2014
    %ul#calendar-content-list
      %li.calendar-content
        .calendar-content-indicator
          %span.icon
        .calendar-content-event-type
          Torneo
        .calendar-content-info
          .calendar-content-info-date
            10:00
          .calendar-content-info-title
            Apertura de puertas
      %li.calendar-content
        .calendar-content-event-type
          Torneo
        .calendar-content-info
          .calendar-content-info-date
            13:00
          .calendar-content-info-title
            League of Legends
