---
tournaments: 
  - 
    id: lol
    name: League Of Legends
  -
    id: sc2
    name: Starcraft 2
---
%section#home
  %ul#home-header
    -current_page.data.tournaments.each_with_index do |t,i|
      %li.home-header-slide{id: t.id, class: (i == 0 ? 'active' : '')}
        .home-header-slide-content
          %h2.home-header-slide-title
            Torneo
          .home-header-tournament-info  
            %h3.home-header-tournament-name
              =t.name
            %a.home-header-tournament-link(href='/tournaments/#{t.id}')
              Ver información
    %li.home-header-slide{id: 'club3d', class: ''}
              
  .slide-stars    

%section#intro
  %h2#intro-title
    Puro GAMING
  #intro-content
    %p 
      Tenemos más de 
      %a(href="/tournaments") 18 competiciones 
      de videojuegos listas para que disfrutes de los e-sports del  
      %a(href="http://goo.gl/maps/Nx9Q6") 26 al 29 de junio en Infecar.
    %p Con premios valorados en 15000€ y más de 100 participantes premiados.
    %p 
      %a(href="http://proyectocetic.com/actividaddestacadas/GCTIC") 
        Talleres y charlas gratuitas
      , con ponentes de nivel internacional en las últimas tecnologías.
    %p Instalaciones con duchas, zona de dormitorios y una conexión a internet de más de 1000Mg.
    %p 
      Con el apoyo de las 
      %a(href="#footer-content") principales entidades 
      y de las mejores marcas.
    %p 
      %a(href="/tickets") Con el mejor precio de canarias.

%section#home-content
  #home-content-calendar
    %h3#home-content-calendar-title
      Calendario
    #home-content-calendar-list
      Cargando
  #home-content-tournaments
    %h3#home-content-main-title
      Torneos
    %a#home-content-tournaments-all-links(href="/tournaments")
      Todos los torneos
    %ul#home-content-tournament-list
      - data.tournaments[0..2].each do |t|
        %li.home-content-tournament{id: t.id}
          %a.home-content-tournament-link(href="/tournaments/#{t.id}")
            %span.icon
            %span.home-content-tournament-name
              =t.name
