---
tournaments: 
  - 
    id: lol
    name: League Of Legends
  -
    id: sc2
    name: Starcraft 2

events:
  -
    id: event1
    name: Nombre del evento del calendario
    date: 13.05.2014 | 13:30
  -
    id: event2
    name: Cosas que pasan2
    date: 20.05.2014 | 13:30
  -
    id: event3
    name: Cosas que pasan3
    date: 27.05.2014 | 13:30
---
%section#home
  %ul#home-header
    -current_page.data.tournaments.each_with_index do |t,i|
      %li.home-header-slide{id: t.id, class: (i == 0 ? 'active' : '')}
        .home-header-slide-content
          %h2.home-header-slide-title
            Torneo
          .home-header-tournament-info  
            %h3.home-header-tournament-name
              =t.name
            %a.home-header-tournament-link(href='#')
              Próximamente
  %div.slide-stars    

%section#home-content
  #home-content-calendar
    %h3#home-content-calendar-title
      Calendario
    %ul#home-content-calendar-list
      -current_page.data.events.each do |e|
        %li.home-content-calendar{id: e.id}
          .calendar-title
            =e.date
          .calendar-event
            =e.name
  #home-content-tournaments
    %h3#home-content-main-title
      Torneos
    %a#home-content-tournaments-all-link(href="#")
      Todos los torneos
  %ul#home-content-tournament-list
    -current_page.data.tournaments.each do |t|
      %li.home-content-tournament{id: t.id}
        %a.home-content-tournament-link(href="#")
          %span.icon
            t.name
