---
tournaments: 
  - 
    id: lol
    name: League Of Legends
  -
    id: sc2
    name: Starcraft 2
---
%section#home
  %ul#home-header
    -current_page.data.tournaments.each_with_index do |t,i|
      %li.home-header-slide{id: t.id, class: (i == 0 ? 'active' : '')}
        .home-header-slide-content
          %h2.home-header-slide-title
            Torneo
          .home-header-tournament-info  
            %h3.home-header-tournament-name
              =t.name
            %a.home-header-tournament-link(href='/tournaments/#{t.id}')
              Ver información
              
  .slide-stars    

%section#home-content
  #home-content-calendar
    %h3#home-content-calendar-title
      Calendario
    #home-content-calendar-list
      Cargando
  #home-content-tournaments
    %h3#home-content-main-title
      Torneos
    %a#home-content-tournaments-all-links(href="/tournaments")
      Todos los torneos
    %ul#home-content-tournament-list
      - data.tournaments[0..2].each do |t|
        %li.home-content-tournament{id: t.id}
          %a.home-content-tournament-link(href="/tournaments/#{t.id}")
            %span.icon
            %span.home-content-tournament-name
              =t.name
