---
tournaments: 
  - 
    id: lol
    name: League Of Legends
  -
    id: sc2
    name: Starcraft 2
---
%section#home
  %ul#home-header
    -current_page.data.tournaments.each_with_index do |t,i|
      %li.home-header-slide{id: t.id, class: (i == 0 ? 'active' : '')}
        %h2.home-header-title
          Torneo
        .home-header-info  
          %h3.home-header-tournament-name
            =t.name
          %a.home-header-tournament-link(href='#')
            Próximamente
  %div.slide-stars    
