%section#terms-and-conditions
  .title
    1. Introducción
  %p
    La creación de este documento ha sido por parte de la organización promotora del evento INX-ARENA. Se ha creado con el fin de poner en conocimiento a los participantes a INX-ARENA de los términos y condiciones del evento.

    Llevar a cabo la finalización del proceso de inscripción al evento implica de manera automática la aceptación de todos los puntos que se detallan en el documento.

    La organización del evento se reserva el derecho de modificar total o parcialmente los termino y condiciones explicados en este documento.

  .title
    2. Admisión

  %p
    Todas las personas físicas mayores de 18 años, cumpliendo siempre los requisitos impuestos por la Organización a acepten los términos podrán participar en INX ARENA.

    Los participantes menores de 18 años podrán participar en el Evento siempre y cuando presente una autorización firmada por sus padres o tutores, haciéndose estos responsables del comportamiento y daños que pudiera ocasionar el menor.

    En el caso de la inscripción de un menor de edad, este deberá presentar el día de entrada al recinto los siguiente documentos:
      
    Fotocopia del DNI del padre
    Fotocopia del DNI del hijo o en su defecto fotocopia del libro de familia
    Teléfono de contacto
    Autorización para menores

    En caso de no presentar alguno de los documentos citados anteriormente, no se permitirá la entrada al recinto del menor de edad, se cancelará su inscripción y se devolverá el importe de la entrada.

  .title
    3. Precio de la entrada y formas de pago

  %p
    El precio de inscripción será de 45€.

    Las formas de pago que se aceptaran son las que se definen a continuación:

    A través de la plataforma TICKETEA, cuyo enlace para el pago se obtendrá a través de los diferentes medios digitales.
    Pago directo físicamente en Inexus Informática S.L, situado en la Calle Perez del Toro nº29.

    Una vez finalizado el proceso de inscripción, la organización validará los registros con el fin de comprobar la veracidad de los datos.

    Se tomarán los siguientes supuestos:

    Los asistentes declaran que toda la información proporcionada en el formulario de registro se corresponde fielmente con la realidad.
    Solo se admitirá una inscripción por persona.

    La Organización se reserva el derecho de modificar la fecha limite para el pago en función de la demanda de plazas para el evento.

  .title
    4. Acreditación

  %p
    A todos los participantes en el evento se le entregaran unas pegatinas identificativas al entrar al recinto. Estas pegatinas serán de uso obligatorio en los equipos (ordenadores de sobremesa, consolas, portátiles, televisores y/o monitores). Estas pegatinas estarán asociadas a las identificaciones personales de cada participante. Estas pegatinas serán necesarias para abandonar el recinto.

    Se proporcionará una identificación personal que tendrá que ir acompañada del DNI y en lugar visible para poder corroborar la identidad por el personal de seguridad del recinto o la organización.

    El hecho de no llevar la identificación personal del evento, puede ser motivo de expulsión del mismo.

    Si por algún motivo el participante perdiese o rompiese la identificación personal deberá comunicarlo con la mayor brevedad posible a cualquier miembro de la organización.

    En ningún momento podrá cederse la identificación personal a un tercero, en caso de detectar este tipo de uso, será motivo de expulsión del Evento.

  .title
    5. Normas y Sanciones

  %p
    Seguidamente se enumeraran una serie de normas de obligado cumplimiento por cualquier participante de INX-ARENA.

    La falta de aseo personal será considerado una falta leve.
    Se deben respetar los objetos personales del resto de participantes, cualquier tipo de hurto será considerado falta grave.

    Hacer caso omiso a cualquier indicación por parte del personal de seguridad o miembro de la organización será considerado falta grave.

    No se permite el uso de altavoces, se considerara falta leve.
    No se permitirá ningún tipo de comportamiento agresivo entre los participantes en el interior del recinto, será considerado falta grave.

    Se prohíbe rotundamente tocar los elementos colocados por la organización, desde cartelería hasta el material de red o audiovisual. Será considerado falta grave.
    Se prohíbe la introducción al recinto de cualquier tipo de arma. Será considerado falta grave.
    Se prohíbe fumar dentro del recinto. Será considerado falta grave.
    Se prohíbe encontrarse en estado de embriaguez o bajo los efecto de sustancias estupefacientes. Será considerado falta grave.
    Se prohíbe le entrada de cualquier tipo de bebida alcohólica o sustancia estupefaciente. Será considerado falta grave.

    Los participantes que incumplan algún punto de los expuestos anteriormente deberá asumir las correspondientes sanciones:
    
    Una falta grave llevará consigo la expulsión del evento.
    Tres faltas leves derivarán en una falta grave aplicándose la sanción correspondiente a esta.

  .title
    6. Participantes (derechos y recomendaciones)

  %p
    Los derechos básicos incluidos con la entrada son los que se expone a continuación:

    Puesto en zona LAN, punto de red, silla y toma eléctrica
    Acceso a instalaciones del recinto (Aseos, duchas…) 24 horas al día
    Salir y entrar al recinto durante las 24 horas del día presentando debidamente la acreditación personal
    Zona de acampada
    Solo se permite el acceso al evento con un equipo informático, acompañado si es el caso con una consola de videojuegos

  .title
    7. Exenciones de responsabilidad

  %p
    La organización no se hará responsable de los robos o hurtos de material o cualquier otro enser personal de los participantes del evento. Se recomienda no dejar sin vigilancia sus pertenencias en ningún momento durante el evento.
    La organización pondrá la seguridad de la empresa subcontratada por el Recinto Ferial de Las Palmas de Gran Canaria.
    La organización no se hará responsable bajo ningún concepto de los daños materiales que los equipos informáticos puedan sufrir durante el evento.
    La organización no se hace responsable de los contenidos que los usuarios puedan descargarse o subir así como intercambiar entre ellos o con un tercero ajeno al evento. Cada participante será responsable del uso que le de a la infraestructura de red que la organización pone a disposición del evento. De esta misma manera, la organización tampoco se hará responsable de las caídas de red o caídas de Internet que puedan surgir durante la duración del evento.
  
  %p.title
    %a(href="/Autorizacion.pdf")
      Autorización para menores
