%section#tickets
  #tickets-header
    %h2#tickets-header-title
      Entradas
  #tickets-content
    #tkt-content
    %script(language="javascript" type="text/javascript" src="https://www.ticketea.com/inx-arena-spegc/buy?lang=es_es")
