%section#tickets
  #tickets-header
    %h2#tickets-header-title
      Entradas
  #tickets-content
    %ul#tickets
      %li.ticket
        %ul.conditions#participant
          %li
            %h3 Participante
          %li Entrada al evento todos los días.
          %li Participación en torneos de consolas.
          %li Participación en torneos de PC.
          %li Disfrute del recinto y todas sus actividadesa.
          %li Zona dormitorio y duchas.
      %li.ticket
        %ul.conditions#videogames
          %li
            %h3 Consolas
          %li Entrada al evento todos los días.
          %li Participación en torneos de consolas.
          %li Disfrute del recinto y todas sus actividades.
      %li.ticket
        %ul.conditions#free
          %li
            %h3 Gratuita
          %li Entrada gratuita sólo a talleres y charlas pero sin la posibilidad de entrar a participar en los sorteos.
    #tkt-content
    %script(language="javascript" type="text/javascript" src="https://www.ticketea.com/inx-arena-spegc/buy?lang=es_es")
